/envs/
/pandas_exercises/
/.ipynb_checkpoints/
/note/.obsidian/
**/data/
**/__pycache__/
**/config
*.xml
*.log
/project_pisces/
/practice_DL/MNIST
*.pth
/models/
*.zip
/project_dacon/
**/log
/project_diary/
/ai-study/
*.env
*.gguf
/KOMI_PJT/
**/db/
**/ComfyUI/
/project_loreless/
